[Desktop Entry]
Encoding=UTF-8
Name=Tomatoid Light
Comment=Pomodoro Plasmoid

Icon=/contents/images/tomatoid-icon-red.png
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=280,320
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Author=Aeris
X-KDE-PluginInfo-Email=aeris@imirhil.fr
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=tomatoid-light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/Tomatoid?content=152459
